body {
    font-family: 'Verdana', sans-serif;
}

#timer {
    float: right;
}

.guess {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2rem;
}

.wrapper {
    margin: 0 auto;
    padding: 1.5rem;
}

#question-img {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3.25rem;
    color: #e71d73;
}

.card {
    height: 3rem;
}

#message {
    font-size: 1.25rem;
}

#answer img {
    border: 2px solid #000000;
    max-width: 300px;
}