body {
    font-family: 'Verdana', sans-serif;
    background: url('../images/questionmarks.png') no-repeat center bottom fixed;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
}

#timer {
    float: right;
}

.guess {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2rem;
}

.wrapper {
    margin: 0 auto;
    padding: 1.5rem;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#question-img {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3.25rem;
    color: #ffffff;
}

#answer img {
    border: 2px solid #000000;
    max-width: 300px;
}

.special-thanks {
    position: absolute;
    bottom: 0;
}